$margen: 12px;

.sisdai-mapa-control {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin: $margen;

  &-zoom {
    > button {
      margin: 0;
      &:not(:last-child) {
        margin-bottom: calc($margen / 2);
        margin-right: 0px;
      }
    }
  }

  &-ajuste-vista {
    bottom: 0;
  }

  &-escala-grafica {
    bottom: 0;
    left: calc(34px + $margen) !important;

    .ol-scale-bar-inner {
      .ol-scale-step-marker {
        height: 10px;
        top: 0px !important;
      }
      .ol-scale-singlebar {
        height: 3px;
        top: 8px;
      }
      .ol-scale-step-text {
        bottom: 10px;
        font-size: 11px;
      }
      div > .ol-scale-step-marker {
        top: -2px !important;
      }
    }
  }
}
