@charset "UTF-8";

/* sisdai-iconos */
@font-face {
  font-family: 'sisdai-iconos';
  src: url('https://file.myfontastic.com/JS4TgqY9L4s8WsKQDkt5qA/fonts/1665440470.eot');
  src: url('https://file.myfontastic.com/JS4TgqY9L4s8WsKQDkt5qA/fonts/1665440470.eot?#iefix')
      format('embedded-opentype'),
    url('https://file.myfontastic.com/JS4TgqY9L4s8WsKQDkt5qA/fonts/1665440470.woff')
      format('woff'),
    url('https://file.myfontastic.com/JS4TgqY9L4s8WsKQDkt5qA/fonts/1665440470.ttf')
      format('truetype'),
    url('https://file.myfontastic.com/JS4TgqY9L4s8WsKQDkt5qA/fonts/1665440470.svg#1665440470')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: 'sisdai-iconos' !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^='icono-']:before,
[class*=' icono-']:before {
  font-family: 'sisdai-iconos' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icono-actualizar:before {
  content: '\61';
}
.icono-agregar:before {
  content: '\62';
}
.icono-angulo-abajo:before {
  content: '\63';
}
.icono-angulo-arriba:before {
  content: '\64';
}
.icono-angulo-derecho:before {
  content: '\65';
}
.icono-angulo-doble-abajo:before {
  content: '\66';
}
.icono-angulo-doble-arriba:before {
  content: '\67';
}
.icono-angulo-doble-derecha:before {
  content: '\68';
}
.icono-angulo-doble-izquierda:before {
  content: '\69';
}
.icono-angulo-izquierdo:before {
  content: '\6a';
}
.icono-aprobado:before {
  content: '\6b';
}
.icono-archivo-descargar:before {
  content: '\6c';
}
.icono-archivo-subir:before {
  content: '\6d';
}
.icono-arrastrar:before {
  content: '\6e';
}
.icono-ayuda:before {
  content: '\6f';
}
.icono-buscar:before {
  content: '\70';
}
.icono-calendario:before {
  content: '\71';
}
.icono-cambio-tipografia:before {
  content: '\72';
}
.icono-capa-lineas:before {
  content: '\73';
}
.icono-capa-puntos:before {
  content: '\74';
}
.icono-casilla:before {
  content: '\75';
}
.icono-casilla-verificada:before {
  content: '\76';
}
.icono-cerrar:before {
  content: '\77';
}
.icono-colaborar:before {
  content: '\78';
}
.icono-compartir:before {
  content: '\79';
}
.icono-contraste:before {
  content: '\7a';
}
.icono-control-comenzar:before {
  content: '\41';
}
.icono-control-detener:before {
  content: '\42';
}
.icono-control-final:before {
  content: '\43';
}
.icono-control-inicio:before {
  content: '\44';
}
.icono-control-pausa:before {
  content: '\45';
}
.icono-copiar:before {
  content: '\46';
}
.icono-documento:before {
  content: '\47';
}
.icono-documento-csv:before {
  content: '\48';
}
.icono-documento-geojson:before {
  content: '\49';
}
.icono-documento-geopaquete:before {
  content: '\4a';
}
.icono-documento-pdf:before {
  content: '\4b';
}
.icono-documento-png:before {
  content: '\4c';
}
.icono-documento-ppt:before {
  content: '\4d';
}
.icono-documento-word:before {
  content: '\4e';
}
.icono-editar:before {
  content: '\4f';
}
.icono-eliminar:before {
  content: '\50';
}
.icono-enlace-subrayado:before {
  content: '\51';
}
.icono-estrella:before {
  content: '\52';
}
.icono-flecha-abajo:before {
  content: '\53';
}
.icono-flecha-abajo-derecha:before {
  content: '\54';
}
.icono-flecha-abajo-izquierda:before {
  content: '\55';
}
.icono-flecha-arriba:before {
  content: '\56';
}
.icono-flecha-arriba-derecha:before {
  content: '\57';
}
.icono-flecha-arriba-izquierda:before {
  content: '\58';
}
.icono-flecha-derecha:before {
  content: '\59';
}
.icono-flecha-izquierda:before {
  content: '\5a';
}
.icono-flechas-horizontales:before {
  content: '\30';
}
.icono-flkt:before {
  content: '\31';
}
.icono-groupo:before {
  content: '\32';
}
.icono-social-facebook:before {
  content: '\33';
}
.icono-social-github:before {
  content: '\34';
}
.icono-social-instagram:before {
  content: '\35';
}
.icono-social-twitter:before {
  content: '\36';
}
.icono-social-youtube:before {
  content: '\37';
}
.icono-informacion:before {
  content: '\38';
}
.icono-inicio:before {
  content: '\39';
}
.icono-mapa-centro:before {
  content: '\21';
}
.icono-mapa-generador:before {
  content: '\22';
}
.icono-maximizar:before {
  content: '\23';
}
.icono-menu:before {
  content: '\24';
}
.icono-mexico:before {
  content: '\25';
}
.icono-minimizar:before {
  content: '\26';
}
.icono-nivel:before {
  content: '\27';
}
.icono-numerales:before {
  content: '\28';
}
.icono-ojo-ocultar:before {
  content: '\29';
}
.icono-ojo-ver:before {
  content: '\2a';
}
.icono-ordenar-alfabetico-asc:before {
  content: '\2b';
}
.icono-ordenar-alfabetico-desc:before {
  content: '\2c';
}
.icono-ordenar-asc:before {
  content: '\2d';
}
.icono-ordenar-desc:before {
  content: '\2e';
}
.icono-persona:before {
  content: '\2f';
}
.icono-capa-poligono:before {
  content: '\3a';
}
.icono-reloj:before {
  content: '\3b';
}
.icono-restar:before {
  content: '\3c';
}
.icono-teclado:before {
  content: '\3d';
}
.icono-ubicacion:before {
  content: '\3e';
}
.icono-vista-simplificada:before {
  content: '\3f';
}
.icono-voto-no:before {
  content: '\40';
}
.icono-voto-si:before {
  content: '\5b';
}
.icono-accesibilidad:before {
  content: '\5e';
}
.icono-restablecer:before {
  content: '\60';
}
