/* estilo del mapa */

$altura-boton-conacyt: 40px;

.sisdai-mapa-contenedor {
  min-height: 200px;
  min-width: 200px;
  // height: calc(40vh + $altura-boton-conacyt);
  position: relative;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0;
  grid-template-rows: auto 40vh 40px;
  .sisdai-mapa-encabezado {
    grid-column: 1;
    grid-row: 1;
  }
  .sisdai-mapa,
  .sisdai-mapa-vista-carga {
    grid-column: 1;
    grid-row: 2;
  }
  .boton-conacyt {
    grid-column: 1;
    grid-row: 3;
  }

  .sisdai-mapa {
    width: 100%;
    // min-height: 200px;
    // height: 200px;
    // position: absolute;
    background-color: #e9e9e9;
    // padding-bottom: $altura-boton-conacyt;
  }
}
