.contenedor-tooltip-info {
  background: #1c1c1c;
  color: #fff;
  width: 322px;
  min-height: 152px;
  box-shadow: 0px 3px 6px #00000029;
  padding: 16px;
  border-radius: 6px;
  display: block;
  z-index: 9999;
  &.show {
    display: block;
  }

  .cuerpo-tooltip {
    font-size: 11px;
    font-weight: 200;
  }
}

.contenedor-tooltip-normal {
  background: #1c1c1c;
  color: #fff;

  box-shadow: 0px 3px 6px #00000029;

  border-radius: 6px;
  min-height: 0;
  font-size: 11px;
  padding: 0.5em;
  width: auto;
  display: block;
  z-index: 9999;
  max-width: 240px;
  &.show {
    display: block;
  }

  .cuerpo-tooltip {
    font-size: 11px;
    font-weight: 400;
  }
}
